body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    text-align: center;
}

nav {
    background: #eee;
    padding: 40px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

div {
    width: 600px;
    margin: 5em auto;
    border-radius: 1em;
}

a:hover {
    text-decoration: underline;   
}

i {
    color: black;
    padding: 10px;
}
